@{
    ViewBag.Title = "Игра с компьютером";
}
<link href="~/Content/chess/chessboard-0.3.0.min.css" rel="stylesheet" />
<h2>Игра с компьютером</h2>
<p><a href="examples#1001">← Back to all examples.</a></p>

<p>
    Pass <code class="js string">'start'</code> as the second argument to initialize the board to the start position.
</p>

<!-- start example HTML --->
<div id="board" style="width: 400px"></div>
<!-- end example HTML --->
<script src="~/Scripts/jquery-1.8.2.min.js"></script>

<script>
    var board;
    var game;
    var simpleHub;
    var init = function () {
        $.proxies.chessapi.start();
        game = new Chess();
        var removeGreySquares = function () {
        };

        var greySquare = function (square) {
           
        };

        var onDragStart = function (source, piece) {
            
        };

        var onDrop = function (source, target) {
            var move = board.move(source + '-' + target);
            if (move === null) return 'snapback';
            var moveModel = {
                From: source,
                To: target,
                Color: 'w'
            }
            $.proxies.chessapi.move(moveModel);
        };

        var onMouseoverSquare = function (square, piece) {
        };

        var onMouseoutSquare = function (square, piece) {
        };

        var onSnapEnd = function () {
        };

        var cfg = {
            draggable: true,
            position: 'start',
            onDragStart: onDragStart,
            onDrop: onDrop,
            onMouseoutSquare: onMouseoutSquare,
            onMouseoverSquare: onMouseoverSquare,
            onSnapEnd: onSnapEnd
        };
        board = new ChessBoard('board', cfg);

        simpleHub = $.connection.chessHub;
        simpleHub.client.solverMoved = function (data) {
            alert(data.From + "  " + data.To);
            board.move(data.From + '-'+ data.To);
        }
        $.connection.hub.start().done(function () {
        });
    };

    $(document).ready(init);

</script>

